/*Visual*/

#footer_visual {
    display: block;
    width: 100%;
}

.ras-footer-social {
    align-items: end;
}
.item-footer a {
    font-size: 12px;
    font-weight: 500;
}
#footer_visual .categories-toggle-cross{
    display: none;
    cursor: pointer;
    transition: 0.2s linear;
    transform: rotate(45deg);
}
#footer_visual .input-open-box{
    display: none;
}

#footer_visual .categories-name-group {
    position: relative;

}

#footer_visual .categories-icon {
    position: absolute;
    left: -30px;

}

#footer_visual .categories-icon img {
    max-height: 22px;
    width: auto;

}

#footer_visual .ras-footer-content-left {
    grid-column: 1;
    grid-row: 2;
}

#footer_visual .ras-footer-content-left-link {

    display: flex;
}

#footer_visual .ras-footer-content-standard {

    grid-column: 1/4;
    grid-row: 2;
}

#footer_visual .ras-footer-content-standard-link {

    display: grid;
    grid-row: 1;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
}

#footer_visual .ras-footer-content-right {

    grid-column: 3;
    grid-row: 2;
}

#footer_visual .ras-footer-content-right-link {

    display: flex;
}

#footer_visual .categories-content {

    display: flex;
    flex: auto;
    flex-direction: row;
}

#footer_visual .categories-name {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    color: #000 !important;
}
#footer_visual .item-footer {
    margin-top: 3px;
    max-width: 100%;
}

#footer_visual .categories-block {
    margin-top: 10px;
    flex-direction: column;
    display: flex;
}

#footer_visual .item-footer {
    line-height: 16px;
}


/*Top*/

#footer_visual .ras-footer-content-top {
    grid-column: 1/4;
    grid-row: 1;
}

#footer_visual .ras-footer-content-top-link .categories-block {
    margin-left: 10px;
}

#footer_visual .ras-footer-content-top-link .item-footer {
    margin-left: 5px;
}

#footer_visual .ras-footer-content-top .categories-block {
    flex-direction: row;
}

/*Left*/
#footer_visual .ras-footer-content-left-link .categories-content {
    flex-direction: column;
}

/*Standard*/
#footer_visual .ras-footer-content-standard-link .categories-content {
    flex-direction: column;
}

/*Right*/
#footer_visual .ras-footer-content-right-link .categories-content {
    flex-direction: column;
}

/* Bottom*/
#footer_visual .ras-footer-content-bottom-link .categories-block {
    margin-left: 10px;
}

#footer_visual .ras-footer-content-bottom-link .item-footer {
    margin-left: 5px;
}

#footer_visual .ras-footer-content-bottom {
    grid-column: 1/4;
    grid-row: 3;
    border-top: 1px solid #000;
    margin-top: 30px;
    padding-top: 10px;
}

#footer_visual .ras-footer-content-bottom .categories-block {
    flex-direction: row;
}

#footer_visual .item-footer .social-icon {
    max-height: 22px;
    margin: 0px 10px 20px 10px;
}

#footer_visual #ras_footer_content {
    display: grid;
}

#footer_visual .ras_footer_content_sub_group {
    display: grid;
}
